{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["Chrome >= 35", "ie >= 9", "last 5 Safari versions", "ff >= 40"]
            },
            "useBuiltIns": true
        }]
    ]
}